h1 {
  font-size: 2em;
  font-weight: 700;
  margin: 0.67em 0;
}

h2 {
  text-align: center;
  font-size: 24px;
}
* {
  padding: 1;
  margin: 2;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

body {
  font-family: montserrat;
}

a {
  font-size: 20px;
  align-items: center;
}

a:hover {
  color: #72afa6;
  transition: 0.5s;
}

i {
  display: none;
}
img {
  height: 250px;
  float: inline-start;
  margin-bottom: -60px;
  margin-top: -40px;
}

* {
  box-sizing: border-box;
}
:root {
  font-size: min(calc(1em + 1vw), 4em);
}

header {
  /background: cyan;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: inherit;
  color: #72afa6;
  margin-inline: center;
  text-align: center;
}

nav {
  /background: magenta;
  color: black;
  line-height: 80px;
  margin: 10px;
  font-size: 20px;
  letter-spacing: 0px;
  padding: 10px;
}
main {
  /background: yellow;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 1.4;
  text-align: center;
}

div.jongetje {
  float: left;
  margin: 0.5em;
}
div.meisje {
  float: left;
  margin: 0.5em;
}

div.jongetje p {
  text-align: center;
  font-family: montserrat;
  font-size: 1em;
  align-items: baseline;
}

div.meisje p {
  text-align: center;
  font-family: montserrat;
  font-size: 1em;
  align-items: baseline;
}

div.plusje {
  float: left;
  margin: -1em;
  align-items: baseline;
}
