h1 {
  font-size: 35px;
  font-weight: 700;
  margin: 0.67em 0;
  color: #72afa6;
  margin-right: 150px;
}

h2 {
  text-align: left;
  font-size: 18px;
  width: 800px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
  margin: 0.67em 0;
  color: #f4eb34;
  margin-right: 150px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

body {
        max-width: 50em;
        margin: 0 auto;
        padding: 1em;
        gap: 0.5em;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows:20% 100%;
        grid-template-areas:
        "header main"
        "nav main";
        font-family: montserrat;
        background-color: white;
      }
      header {
        grid-area: header;
      }
      nav {
        grid-area: nav;
      }
      main {
        grid-area: main;
      }

a {
  font-size: 16px;
  align-items: center;
}

i {
  display: none;
}
img {
  height: 200px;
  width: 200px;
  float: inline-start;
  margin-top: -10px;
}

:root {
  font-size: min(calc(1em + 1vw), 4em);
}

header {
  height: 200px;
  float: left;
  margin-bottom: -10px;
  margin-top: -10px;
}

main{
  align-items: center;
}

nav {
  width: 150px;
  height: 500px;
  background:#72afa6;
  color: black;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 0 4px rgba(255, 255, 255, .1);
  transition: .4s;
  margin-left: 30px;
}

nav li{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: white;
}

nav li:hover{
  color: #f4eb34;
  transform: scale(1.1);
  opacity: 1;
}

nav li i{
  font-size: 24px;
  transition: .4s;
}

nav li a {
  position: absolute;
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 0;
  transition: .4s;
}

nav label{
  cursor: pointer;
  color: #72afa6;
  background: white;
  font-size: 28px;
  width: 48px;
  height: 48px;
  padding: 10px 15px;
  border-radius: 50%;
  transform: translateX(80px) translateY(20px);
  border-right: 1px solid  rgba(255, 255, 255, .1);
  transition: .4s;
}

nav button:hover{
  color:#f4eb34;
}

input:checked ~ nav{
  width: 330px;
}

input:checked ~ nav label{
  transform: translateX(167px) translateY(20px) rotate(180deg);
  padding-left: 10px;
  border-right: 0;
  border-left: 1px solid  rgba(255, 255, 255, .1);
}

input:checked ~ nav li i{
  padding-right: 200px;
}

input:checked ~ nav li a{
  padding-left: 150px;
  padding-right: 80px;
  opacity: 1;
}

input{
  display: none;
}

main {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 1.4;
  text-align: center;
}

div.minis{
  align-items: center;
}

div.jongetje {
  float: left;
  margin: 0.5em;
}
div.meisje {
  float: left;
  margin: 0.5em;
}

div.jongetje p {
  text-align: center;
  font-family: montserrat;
  font-size: 16px;
  align-items: baseline;
}

div.meisje p {
  text-align: center;
  font-family: montserrat;
  font-size: 16px;
  align-items: baseline;
}

div.plusje {
  float: left;
  margin: -1em;
  align-items: baseline;
}

div.meisje {
  float: left;
  margin: 0.5em;
}

div.jongetje1 {
  float: left;
  position: absolute;
  margin-top: 70px;
  margin-left: -20px;
}

div.meisje1 {
  float: left;
  position:absolute;
  margin-top: 200px;
  margin-left: -20px;
}

div.plusje2 {
  float: left;
  margin: 2em;
 position: absolute;
 margin-top: -38px;
 margin-left:-15px;
}

/div.invulformulier{
  background-color: #ffffff;
  height: 400px;
  width: 400px;
  border-radius: 5%;
  float:right;
  margin-right: 330px;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0px 1px 10px 10px rgba(243, 243, 243, 0.75);
}

#login-box{
  /float:right;
  display:inline-block;
  margin: 5% auto;
  width: 400px;
  height: 400px;
  background: #ffffff;
  border-radius: 5%;
  box-shadow: 0px 1px 10px 10px rgba(243, 243, 243, 0.75);
}

.invulformulier{
  /float:right;
  display:inline-block;
  margin-right: 220px;
  box-sizing: border-box;
  padding: 40px;
  width: 400px;
  height: 400px;
}
input[type="text"], input[type="date"]{
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 300px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: montserrat;
  font-weight:400;
  font-size: 15px;
  transition:0.2s ease;
}

input[type="text"], input[type="date"]{
  border-bottom: 2px solid #72afa6;
  color: #000000;
  transition: 0.2s ease;
}

input[type="submit"]{
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #72afa6;
  border:1px;
  border-color: #72afa6;
  border-radius: 2px;
  color: #72afa6;
  font-family: montserrat;
  font-weight: 500;
  text-transform: uppercase;
  transition:0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus{
  opacity:0.8;
  box-shadow:0 2px 4px rgba(243, 243, 243, 0.75);
  transition: 0.1s ease;
}

input input[type="submit"]:active{
  opacity: 1;
  box-shadow: 0 1px 2px rgba(243, 243, 243, 0.75);
  transition: 0.1s ease;
}