h1 {
  font-size: 35px;
  font-weight: 700;
  margin: 0.67em 0;
  color: #72afa6;
  margin-right: 220px;
}

h2 {
  text-align: left;
  font-size: 18px;
  width: 800px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
  margin: 0.67em 0;
  color: #F47F57;
  margin-right: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  margin:20px;
  margin-top: 30px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

body {
        max-width: 50em;
        margin: 0 auto;
        padding: 1em;
        gap: 0.5em;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows:20% 100%;
        grid-template-areas:
        "header main"
        "nav main";
        font-family: montserrat;
        background-color: white;
      }
      header {
        grid-area: header;
      }
      nav {
        grid-area: nav;
      }
      main {
        grid-area: main;
      }

a {
  font-size: 16px;
  align-items: center;
}

i {
  display: none;
}
img {
  height: 200px;
  width: 200px;
  float: inline-start;
  margin-top: -10px;
}

:root {
  font-size: min(calc(1em + 1vw), 4em);
}

header {
  height: 200px;
  float: left;
  margin-bottom: -10px;
  margin-top: -10px;
}

main{
  align-items: center;
}

/* nav {
  width: 150px;
  height: 500px;
  background:#72afa6;
  color: black;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0 0 4px rgba(255, 255, 255, .1);
  transition: .4s;
  margin-left: 30px;
} */

/* nav li{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: white;
}

nav li:hover{
  color: #f4eb34;
  transform: scale(1.1);
  opacity: 1;
}

nav li i{
  font-size: 24px;
  transition: .4s;
}

nav li a {
  position: absolute;
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 0;
  transition: .4s;
}

nav label{
  cursor: pointer;
  color: #72afa6;
  background: white;
  font-size: 28px;
  width: 48px;
  height: 48px;
  padding: 10px 15px;
  border-radius: 50%;
  transform: translateX(80px) translateY(20px);
  border-right: 1px solid  rgba(255, 255, 255, .1);
  transition: .4s;
}

nav button:hover{
  color:#f4eb34;
}

input:checked ~ nav{
  width: 330px;
}

input:checked ~ nav label{
  transform: translateX(167px) translateY(20px) rotate(180deg);
  padding-left: 10px;
  border-right: 0;
  border-left: 1px solid  rgba(255, 255, 255, .1);
}

input:checked ~ nav li i{
  padding-right: 200px;
}

input:checked ~ nav li a{
  padding-left: 150px;
  padding-right: 80px;
  opacity: 1;
  text-align:initial;
} */

input{
  display: none;
}

main {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 1.4;
  text-align: center;
}

div.minis{
  align-items: center;
}

div.jongetje {
  float: left;
  margin: 0.5em;
}
div.meisje {
  float: left;
  margin: 0.5em;
}

div.jongetje p {
  text-align:unset;
  font-family: montserrat;
  font-size: 16px;
  align-items: baseline;
}

div.meisje p {
  text-align: center;
  font-family: montserrat;
  font-size: 16px;
  align-items: baseline;
}

div.plusje {
  float: left;
  margin: -1em;
  align-items: baseline;
}

.btn{
  text-decoration: none;
  background-color: #ffffff;
  fill:#72afa6;
  border: solid 1px;
  border-color: #72afa6;
  height: 70px;
  width:70px;
  border-radius: 50%;
  margin-left: -350px;
  margin-top: 63px;
}

.btn a{
  color:#72afa6;
}

.btn:hover a{
  color: white;
}

.btn:hover{
  background-color: #72afa6;
  color:#ffffff;
  border: solid 1px;
  height: 70px;
  width:70px;
  border-radius: 50%;
}

.btn:hover{
  background-color: #72afa6;
  color:#ffffff;
  border: solid 1px;
  height: 70px;
  width:70px;
  border-radius: 50%;
}

div.meisje {
  float: left;
  margin: 0.5em;
}

div.jongetje1 {
  float: left;
  position: absolute;
  margin-top: 70px;
  margin-left: -20px;
}

div.meisje1 {
  float: left;
  position:absolute;
  margin-top: 200px;
  margin-left: -20px;
}

div.plusje2 {
  float: left;
  margin: 2em;
 position: absolute;
 margin-top: -38px;
 margin-left:-15px;
}

#login-box{
  display:inline-block;
  margin: 5% auto;
  width: 400px;
  height: 430px;
  background: #ffffff;
  border-radius: 5%;
  box-shadow: 0px 1px 10px 10px rgba(243, 243, 243, 0.75);
  margin-left: -200px;
  margin-top: 26px;
}

input[type="text"], input[type="date"]{
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 4px;
  width: 300px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: montserrat;
  font-weight:400;
  font-size: 15px;
  transition:0.2s ease;
}

input[type="text"], input[type="date"]{
  border-bottom: 2px solid #72afa6;
  color: #000000;
  transition: 0.2s ease;
}

.button1{
  border-style: 5px;
  border: 0px;
  background-color:#72afa6;
  border-radius: 30px;
  height: 35px;
  width: 135px;
  cursor: pointer;
  color:white;
  margin-bottom: 100px;
  font-family: montserrat;
  float: left;
  margin-left: 50px;
  margin-top: 10px;
}

.button2{
  border-style: 5px;
  border: 0px;
  background-color:#72afa6;
  border-radius: 30px;
  height: 35px;
  width: 135px;
  cursor: pointer;
  color:white;
  margin-bottom: 100px;
  font-family: montserrat;
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}

.button1:hover{
  background-color:#ffffff;
  color:#72afa6;
  border: solid 1px;
  border-color: #72afa6;
}

.button2:hover{
  background-color:#ffffff;
  color:#72afa6;
  border: solid 1px;
  border-color: #72afa6;
}

/* .foto-toevoegen{
  height: 80px;
  width: 80px;
  color: white;
  border-color: lightgrey;
  border: solid 2px;
  border-radius: 50%;
  float: left;
  margin: 8px;
  margin-left: 40px;
  margin-top: 20px;
} */

@media (max-width: 952px){
*{
  justify-content: left;
}


nav{
    display:none;
}

h1{
  margin-left: -120px;
  margin-top: -100px;
}

h2{
  margin-left: -120px;  
}

div.plusje1{
  justify-content: baseline;
  margin-left: -280px;
}

div.jongetje1{
  justify-content: baseline;
}

div.meisje1{
  justify-content: baseline;
}

body {
        max-width: 2em;
        padding: 1em;
        gap: 0.5em;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 100%;
        grid-template-areas:
        "header"
        "nav"
        "main";
        font-family: montserrat;
        background-color: white;
      }
      header {
        grid-area: header;
      }
      nav {
        grid-area: nav;
      }
      main {
        grid-area: main;
      }

header{
  justify-content: left;
  margin-left: -160px;
  margin-top: 10px;
}
main{
  justify-items: left;
}

.invulformulier{
  justify-content: center;
}
}

Nav{
line-height: 80px;
  margin: 10px;
  font-size: 20px;
  letter-spacing: 0px;
  padding: 10px;
}

.pxs-announcement-bar{
  color: #152a42;
  background-color: #f4eb34;
}

.pxs-announcement-bar-text{
  color: #000000;
}